page-entertainment {
    .content{
    
        background-size:100% 100%;
        background-repeat: no-repeat;
        background-color:#EEEEEE;
    }
    .scroll-content {
        overflow: hidden !important;
    }
 
    .form-holder {
            width: 100%;
            padding: 20px;
        }
        .items {
            background-color: transparent;
            
        } 
       .select{
        width:400px;
        overflow: hidden;
       max-width: 250%;
       }
       .option {
        /* wrap text in compatible browsers */
  -moz-white-space: pre-wrap;
  -o-white-space: pre-wrap;
  white-space: pre-wrap;
  /* hide text that can't wrap with an ellipsis */
  overflow: hidden;
  text-overflow: ellipsis;
  /* add border after every option */
  border-bottom: 1px solid #DDD;
    }

}
