page-welcome {


    .login-content {
        background-color:#f9f8eb;
        // background-image: url('../../assets/imgs/something.jpg');
         background-repeat :no-repeat;
         background-size:cover;
        }

        .car{
            background-color:#07617d;
            padding:20px; 
             border-radius: 10px;
             .card-header{
                font-size: large;
                //color: white
             
            }
        

        .container{
            background-color:transparent;
            border-radius: 0px;
            margin-top: 0%;
            margin-left: 0px;
            margin-right: 0px;
            padding:0px;
          box-shadow: none;
          top: 0;
          bottom: 0;
          left: 0;
          flex-direction: column;
          right: 0;
          position: absolute;
         
         }

    
         .odd {
            background-color:#07617d;
          
        }
        .even {
            background-color: lightgrey;
        }
    
}

